img.avatar{
    border-radius: 100px;
}
#avatar-w{
    border-radius: 100px;
    padding: 1px;
    border: 2px solid #ED4D77;

}

@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
    }
    
